header{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px
}
.submit_btn{width: 100%;}

#today{
    border: 1px solid black;
    padding: 10px;
   margin-top: 45px;
}